<?php /** @var $this \Booking\Commerce\View\Property\Listing */ ?>
<?php foreach ($this->getCollection() as $property): ?>
<h2><?php echo $this->escapeHtml($property->getName()) ?></h2>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <?php foreach ($property->getRooms() as $room): ?>
    <tr>
        <td><?php echo $this->escapeHtml($room->getName()) ?></td>
        <td><?php echo $this->escapeHtml($room->getQuantity()) ?></td>
        <td><?php echo $this->escapeHtml(number_format($room->getPrice(), 2)) ?></td>
    </tr>
    <?php endforeach ?>
</table>
<?php endforeach ?>
