<?php /** @var $this \Booking\Customer\View\Account\Login */ ?>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Already registered?</h2>
        <form method="post" action="<?php echo $this->getUrl('login') ?>" autocomplete="off">
            <div class="form-group">
                <label for="login_email">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" id="login_email" name="login[email]" class="form-control" tabindex="1" placeholder="Email" value="" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="login_password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">P</span>
                    <input type="password" id="login_password" name="login[password]" class="form-control" tabindex="2" placeholder="Password" value="">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary" tabindex="3">Log in</button>
        </form>
    </div>
</div>
