<?php /** @var $this \Booking\Customer\View\Account\Register */ ?>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2>Create an Account</h2>
        <form method="post" action="<?php echo $this->getUrl('register') ?>" autocomplete="off">
            <div class="form-group">
                <label for="register_email">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    <input type="text" id="register_email" name="register[email]" class="form-control" tabindex="1" placeholder="Email" value="" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label for="register_password">Password</label>
                <div class="input-group">
                    <span class="input-group-addon">P</span>
                    <input type="password" id="register_password" name="register[password]" class="form-control" tabindex="2" placeholder="Password" value="">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary" tabindex="3">Register</button>
        </form>
    </div>
</div>
