<?php /** @var $this \Booking\Framework\View\NotFound */ ?>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error 404: Page not found</title>
    <link href="<?php echo $this->getUrl('bootstrap.css') ?>" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Error 404: Page not found</h1>
</div>
</body>
</html>
