<?php /** @var $this \Booking\Framework\View\Page */ ?>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Booking</title>
    <link href="<?php echo $this->getUrl('bootstrap.css') ?>" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="<?php echo $this->getUrl() ?>">Booking</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <?php if ($this->isLoggedIn()): ?>
                <li><a href="<?php echo $this->getUrl('logout') ?>">Log out</a></li>
                <?php else: ?>
                <li><a href="<?php echo $this->getUrl('login') ?>">Log in</a></li>
                <li><a href="<?php echo $this->getUrl('register') ?>">Register</a></li>
                <?php endif ?>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<?php if ($message = $this->getMessage()): ?>
    <h4 class="alert alert-danger"><?php echo $this->escapeHtml($message) ?></h4>
<?php endif ?>
<?php echo $this->getChild()->render() ?>
</div>
</body>
</html>
